.boid-title-container {
	text-align:center;
	padding-top:24px;
	padding-bottom:12px;
}

.boid-title {
	font-size:32px;
}

.boid-canvas-container {
	text-align: center;
	float:left;
	padding:16px;
}

.boid-info-container {
	padding-top:32px;
	padding-left:32px;
}

.site-wrapper {
  display: table;
  /*width: 1332px;*/
  width: 1350px;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.textbox-control {
	border-radius:3px;
}

.controls-container {
	width: 500px;
	padding-right:16px;
	float:right;
}

body {
	background-color: #0B3B39;
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.textbox-control {
	color:white;
	background-color: #0B3B39;
}

p, h1, h2, h5, h3 {
	color: white;
}

.boid-canvas-container {
	display: inline;
}

.btn {
	margin:12px;
}

.credit {
	text-align: center;
}

.inner {
	padding:30px;
}