.boid-title-container {
	text-align:center;
	padding-top:24px;
	padding-bottom:12px;
}

.boid-title {
	font-size:48px;
}

.boid-canvas-container {
	text-align: center;
}

.boid-info-container {
	text-align:center;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}